@charset "UTF-8";:root {
    --gglss-main: var(--gglss-theme);
    --gglss-white: #fff;
    --gglss-none: #00000000;
    --gglss-shadow-blue: 0 8px 12px -3px #286dea33;
    --gglss-border: 1px solid var(--gglss-card-border);
    --gglss-hovertext: var(var(--gglss-main));
    --gglss-shadow-black: 0 0 12px 4px #0000000d;
    --gglss-white-op: #ffffff33;
    --gglss-black: #000;
    --gglss-black-op: #00000026;
    --gglss-shadow-yellow: 0px 38px 77px -26px #ffc93e1f;
    --gglss-none: #00000000;
    --gglss-writer-white: #ffffffc9;
    --gglss-border-radius: 8px;  
    --gglss-main-op-deep: var(--gglss-theme-op-deep) !important;


    --gglss-red: #d7000f;
    --gglss-blue: #425AEF;
    --gglss-orange: #ed8e00;
    --gglss-yellow: #f1ee47;
    --gglss-green: #34d0cc;
    --gglss-darkblue: #61649f;
    --gglss-purple: #b347f1;
    --gglss-pink: #ed709b;
    --gglss-blackgray: #797979;
}

/*选中文字颜色start*/
::selection {
    background: var(--gglss-main);
    color: var(--gglss-white);
}
/*选中文字颜色end*/

[data-theme=light]{
    --gglss-nav-bg: rgba(255, 255, 255, 0.8);
    --gglss-web-bg: #efefef;
    --gglss-gloub-font-color: #1f2d3d;
    --gglss-theme-op-deep: #4259efdd;
    --gglss-card-border: #c9c9c9;
    --gglss-theme: #425AEF;
    --gglss-card-bg: #fff;
    --gglss-secondbg: #f7f7f9;
    --gglss-fontcolor: #363636;
    --gglss-background: #f7f9fe;
    --gglss-secondbg: #f7f7f9;
    --gglss-shadow-border: 0 8px 16px -4px #2c2d300c;
    --gglss-secondtext: #3c3c43cc;
    --gglss-bolang: #efefef;
    --gglss-link-background: #f7f7f9;
    --gglss-secondtext: #3c3c43cc;
    --gglss-theme-op-deep: #4259efdd;
    --gglss-yellow: #c28b00;
    --gglss-scrollbar: #3c3c4366;
}
[data-theme=dark]{
  --gglss-nav-bg: rgba(255, 255, 255, 0);
    --gglss-web-bg: #efefef00;
    --gglss-gloub-font-color: #e9e9e9;  
    --gglss-theme-op-deep: #0084ffdd;
    --gglss-card-border: #3d3d3f;
    --gglss-theme: #f2b94b;
    --gglss-secondbg: #21232a;
    --gglss-card-bg: #1b1c20;
    --gglss-fontcolor: #F7F7FA;
    --gglss-background: #18171d;
    --gglss-secondbg: #21232a;
    --gglss-shadow-border: 0 8px 16px -4px #00000050;
    --gglss-secondtext: #a1a2b8;
    --gglss-link-background: #21232a;
    --gglss-secondtext: #a1a2b8;
    --gglss-theme-op-deep: #f2b94bdd;
    --gglss-yellow: #ffc93e;
    --gglss-scrollbar: #c8c8df66;
}


body {
    color: var(--gglss-gloub-font-color);
    font-size: 16px;
    line-height: 2;
    overflow-x: hidden !important;
}

/*滚动条 start*/
* {
    scrollbar-width: thin;
    scrollbar-color: var(--gglss-main) transparent;
}

/* 网页最大宽度 */
.layout.hide-aside {
    max-width: 1470px;
}

/* 页面背景start */
#web_bg {
  position: fixed;
  z-index: -999;
  width: 100%;
  height: 100%;
  background: var(--gglss-web-bg);
  background-attachment: local;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 页面背景end */

/* 
    主页顶部bunner图start 
*/
#page-header.full_page {
    height: 30vh;
    background-attachment: fixed;
}
#page-header:not(.not-top-img)::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  content: '';
}

#page-header{
  /* background: transparent !important; */
  background-image: #000;
}


#page-header.post-bg::before {
  /* background-color: rgba(0,0,0,0); */
  background-color: #0000004d;
  content: '';
  backdrop-filter: blur(20px) saturate(150%);
  background-color: var(--mark-bg);
}

/* 
    主页顶部bunner图end 
*/

/* 
    导航栏 start
*/
#nav {
    display:flex;
    padding:0 36px;
    width:100%;
    height:60px;
    box-shadow:none!important;
    border-bottom: var(--gglss-border)
} 

@media screen and (max-width: 768px){
  #nav{
      padding: 0 16px;
  }
}

/* 
    导航栏常驻start
 */
 .nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}
/*  导航栏常驻end */

#nav.show {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

#nav a {
  color: #4c4948 ;
}
/*
    导航栏背景阴影的显示
*/
/* 导航栏背景在顶栏不动，全透明 */
#page-header.not-top-img:not(.nav-fixed) #nav {
    background: var(--gglss-nav-bg);
    -webkit-box-shadow: 0 5px 6px -5px rgba(133,133,133,0.6);
    box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0);
    transition: all .5s;
    position: fixed;
}
/* 导航栏背景在顶栏滑动滚轮时，背景白色 */
#page-header.not-top-img #nav {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 5px 6px -5px rgba(133,133,133,0.6);
    box-shadow: 0 5px 6px -5px rgb(133, 133, 133);
    transition: all .5s;
}

/* 手机端的导航栏 start */
@media screen and (max-width: 765px){
  #sidebar #sidebar-menus .menus_items .site-page:hover{
      background: var(--gglss-main);
  }
}
/* 手机端的导航栏 end */

/* 
    主页按钮start 
*/
#blog-info a:hover {
    background: var(--gglss-main);
    transition: background .3s;
    border-radius: var(--gglss-border-radius);
}
#blog-info>a:hover .site-name {
    color: var(--gglss-main) !important;
    position: relative;
    text-shadow: 0 0 transparent;
}
#blog-info>a:hover .site-name:after {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    content: "\e655";
    font-family: "iconfont" !important;
    font-size: 22px;
    line-height: 1;
    color: var(--gglss-white);
    justify-content: center;
    align-items: center;
}
#site-name{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--gglss-border-radius);
}
@media screen and (max-width: 768px) {
    #blog-info a:hover {
        background: 0;
        transition: unset;
        border-radius: 0;
    }
    #blog-info a:hover .site-name {
        color: var(--gglss-theme) !important;
        position: relative;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    }
    #blog-info a:hover .site-name:after {
        display: none;
    }
}
/* 
    主页按钮end 
*/


/*
    去掉鼠标悬浮时导航栏下的蓝色长条start
*/
#nav *::after{
    background-color: transparent!important;
}
/*
    去掉鼠标悬浮时导航栏下的蓝色长条end
*/


.site-page {
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius:7px
}
.site-page:hover {
    color: var(--gglss-white) !important;
    background-color: var(--gglss-main);
    border-radius: var(--gglss-border-radius);
}
#menus > .menus_items > .menus_item > .menus_item_child > li > .site-page:hover {
    color: var(--gglss-white) !important;  
}

/* 
    导航栏横向下拉框start
*/
.menus_item_child li:not(#sidebar-menus li){
    float: left;
    border-radius: 6px!important;
    -webkit-border-radius: 6px!important;
    -moz-border-radius: 6px!important;
    -ms-border-radius: 6px!important;
    -o-border-radius: 6px!important;
  }
.menus_item_child:not(#sidebar-menus ul){
    /*left:calc(-150%)!important;*//*这是估算值，为了保持元素居中的，如果不合适可以自己调*/
    left:50%;
    translate:-50%;
}
/* 
    导航栏横向下拉框end
*/

/*  
    一级功能菜单按钮导航栏居中 start
    translate:50%; 导航栏中间按钮偏左偏右设置
*/
#nav .menus_items .menus_item {
    flex:1 1 auto;
    justify-content:flex-end;
    margin-left:auto;
    flex-wrap:nowrap;
    translate:50%;
    padding:0 0 0 15px;
    font-weight: 700;
    display: inline-block;
    position: relative;
  }
  #menus>.menus_items{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
  }
/*  
    一级功能菜单按钮导航栏居中 end
    translate:50%; 导航栏中间按钮偏左偏右设置
*/

/*web端和手机端的导航栏start*/

#sidebar #sidebar-menus .menus_items .menus_item_child {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#sidebar #sidebar-menus .menus_item_child li {
  width: calc(50% - 8px);
  margin: 4px;
}
#sidebar #sidebar-menus .menus_item_child .site-page.child {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 8px;
  border-radius: 12px;
  border: var(--gglss-border-always);
  background: var(--gglss-card-bg);
  font-size: 14px;
}

@media screen and (max-width:768px) {
  .menus_item_child:not(#sidebar-menus ul){
      /*left:calc(-150%)!important;*//*这是估算值，为了保持元素居中的，如果不合适可以自己调*/
      left:50%;
      translate:0%;
  }
}


/*手机端的导航栏END*/

#toggleButtons {
    display:flex;
    flex: 1 1 auto;
    justify-content:flex-end;
}
/*
    导航栏 end
*/


/*
    首页双栏样式 start
*/
.page > .layout{
    padding: 10px 15px;
    max-width: 1470px;
}
.post > .layout {
  padding: 50px 15px;
  max-width: 1470px;
}

@media screen and (min-width: 1300px) {
    #recent-posts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      -webkit-user-select: none;
      width: calc(100% - 300px) !important;
  }
}
  
#recent-posts {
    position: relative;
}
  
@media screen and (min-width: 1300px) {
    #recent-posts > .recent-post-item:not(.latest) {
        flex-direction: column;
        width: calc(100% / 2 - 0.5rem);
        margin-top: 0.25rem;
        margin-bottom: 0.75rem;
        box-shadow: var(--gglss-shadow-border);
    }
}
  
#recent-posts > .recent-post-item:not(.latest) {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
    animation: slide-in .6s .4s backwards;
    will-change: transform;
}
  
#recent-posts .recent-post-item:not(.latest) {
    height: fit-content;
    display: flex;
    background: var(--gglss-card-bg);
    border-radius: 8px;
    cursor: pointer;
    border: var(--style-border);
}


@media screen and (max-width: 1300px) {
    .layout{
        padding: 10px 15px;
        max-width: 1470px;
    }

    #recent-posts > .recent-post-item:not(.latest) .recent-post-info .recent-post-info-top{
        position: relative;
        transition: 0.3s;
        padding: 0 32px;
        width: 100%;
        }
    #recent-posts > .recent-post-item:not(.latest) .post_cover {
        width: 75%;
        display: flex;
        height: 220px;
    }
}
@media screen and (max-width: 768px) {
    #recent-posts > .recent-post-item:not(.latest) .recent-post-info .recent-post-info-top{
        position: relative;
        transition: 0.3s;
        padding: 0 32px;
        width: 100%;
        }
    #recent-posts > .recent-post-item:not(.latest) .post_cover {
        width: 100%;
        display: flex;
        height: 220px;
    }
}


  
  @media screen and (min-width: 1300px) {
    #recent-posts > .recent-post-item:not(.latest) > .post_cover{
      width: 100%;
      display: flex;
    }
  }

  @media screen and (min-width: 1300px) {
    #recent-posts > .recent-post-item:not(.latest) .post_cover {
      transition: 1s !important;
      height: 225px;
      width: 100%;
    }
  }
  
  #recent-posts > .recent-post-item:not(.latest) > .post_cover > a {
    min-height: 100%;
    min-width: 100%;
  }
  
  #recent-posts > .recent-post-item:not(.latest) > .post_cover >a > img.post_bg {
    width: 100%;
    height: 100%;
    transition: all 0.6s ease 0s;
    object-fit: cover;
  }

  #recent-posts > .recent-post-item:not(.latest) > .recent-post-info {
  height: 174px;
  width: 100%;
  cursor: pointer;
  position: relative;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  #recent-posts .recent-post-item:not(.latest):hover .recent-post-info .article-title {
    color: var(--gglss-theme);
  }
}

@media screen and (min-width: 1300px) {
  .recent-post-item:not(.latest):hover .recent-post-info .recent-post-info-top .article-title {
    -webkit-line-clamp: 2;
  }
}

@media screen and (max-width: 900px){
  #recent-posts > .latest > .recent-post-info > .article-title {
    padding: 3rem 0rem;
  }
  #recent-posts > .recent-post-item:not(.latest) > .recent-post-info > .article-title {
    padding: 3rem 0rem;
  }
  #recent-posts > .latest > .recent-post-info > .content{
    display: none;
  }
}


.recent-post-item:not(.latest) .recent-post-info .recent-post-info-top .content {
  opacity: 0;
  transition: 0.3s;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.4;
  color: var(--gglss-secondtext);
  margin-top: 0.5rem;
}

#recent-posts .recent-post-item:not(.latest) .recent-post-info .content {
    display: none;
}

@media screen and (max-width: 1300px) {
    #recent-posts>.recent-post-item:not(.latest):hover .recent-post-info .content {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .recent-post-item:not(.latest).post-card-large .recent-post-info .recent-post-info-top .content {
        opacity: 1;
        -webkit-line-clamp: 4;
    }
    .recent-post-item:not(.latest).post-card-large:hover .recent-post-info .recent-post-info-top .content {
        -webkit-line-clamp: 6;
    }
}

#recent-posts > .recent-post-item:not(.latest) > .recent-post-info {
    height: 174px;
    width: 100%;
    cursor: pointer;
    position: relative;
    padding: 0 32px;
    display: inline-block;
    overflow: hidden;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    #recent-posts .recent-post-item:not(.latest):hover .recent-post-info .article-title {
        color: var(--gglss-main);
    }
}

@media screen and (min-width: 1300px) {
    .recent-post-item:not(.latest):hover .recent-post-info .recent-post-info-top .article-title {
        -webkit-line-clamp: 2;
    }
}

.recent-post-item:not(.latest) .recent-post-info .recent-post-info-top .content {
    opacity: 0;
    transition: 0.3s;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.4;
    color: var(--gglss-secondtext);
    margin-top: 0.5rem;
}

#recent-posts .recent-post-item:not(.latest) .recent-post-info .content {
    display: none;
}

@media screen and (max-width: 1300px) {
    #recent-posts>.recent-post-item:not(.latest):hover .recent-post-info .content {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .recent-post-item:not(.latest).post-card-large .recent-post-info .recent-post-info-top .content {
        opacity: 1;
        -webkit-line-clamp: 4;
    }
    .recent-post-item:not(.latest).post-card-large:hover .recent-post-info .recent-post-info-top .content {
        -webkit-line-clamp: 6;
    }
}

@media screen and (min-width: 1300px) {
    #recent-posts .recent-post-item:not(.latest):hover .recent-post-info .article-title {
      -webkit-line-clamp: 2;
    }
}

@media screen and (min-width: 900px) {
    #recent-posts>.recent-post-item:not(.latest)>.recent-post-info>.article-title {
        font-size: 22px;
        font-weight: 700;
        -webkit-line-clamp: 2;
        margin-top: 30px;
        margin-left: 20px;
    }
}

.recent-post-item:not(.latest) .recent-post-info .recent-post-info-top .article-title {
    line-height: 30px;
    margin-top: 0;
    font-weight: bold;
    color: var(--gglss-fontcolor);
    margin-bottom: 0;
    width: 100%;
    transition: .3s;
    font-size: 1rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

#recent-posts > .recent-post-item:not(.latest) > .recent-post-info > .article-meta-wrap {
    color: var(--gglss-fontcolor);
    font-size: 0.9em;
}



.article-meta-wrap {
  position: absolute;
  bottom: 16px;
  transition: .3s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  left: 0;
  padding: 0 54px;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
   #recent-posts > .recent-post-item:not(.latest) > .recent-post-info > .article-meta-wrap {
    padding: 0 33px;
  }
}

@media screen and (min-width: 1300px) {
  #recent-posts > .recent-post-item:not(.latest) > .recent-post-info > .article-meta-wrap {
    bottom: 20px;
  }
}

#recent-posts > .recent-post-item:not(.latest) > .recent-post-info > .article-meta-wrap {
  color: var(--gglss-fontcolor);
  font-size: .7rem;
  user-select: none;
}


.article-meta-wrap {
    position: absolute;
    bottom: 16px;
    transition: .3s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    left: 0;
    padding: 0 54px;
    white-space: nowrap;
  }
  
  @media screen and (max-width: 900px) {
     #recent-posts > .recent-post-item:not(.latest) > .recent-post-info > .article-meta-wrap {
      padding: 0 33px;
    }
  }
  
  @media screen and (min-width: 1300px) {
    #recent-posts > .recent-post-item:not(.latest) > .recent-post-info > .article-meta-wrap {
      bottom: 20px;
    }
  }
  
  #recent-posts > .recent-post-item:not(.latest) > .recent-post-info > .article-meta-wrap {
    color: var(--gglss-fontcolor);
    font-size: .7rem;
    user-select: none;
  }

  #recent-posts>.recent-post-item:not(.latest):not(.latest)>.recent-post-info>.content {
    display:none
  }

/*
    首页双栏样式 end
*/

/* 添加最新文章标识start */
/* 最新文章图标 */
.newPost {
    position: fixed;
    top: 0;
    color: rgba(255, 255, 255, 0.92);
    padding: 0 15px;
    background-color: var(--gglss-main);
    border-radius: 0 0 10px 10px;
    right: 40px;
}
@media screen and (max-width:768px){
  .newPost {
    right: 12px;
    padding: 0 20px;
    border-radius: 0px 0px 10px 10px;
  }
}


/* 
    文章页面标题start
*/
@media screen and (max-width: 900px) {
    #page-header #post-info {
      bottom: 150px;
      text-align: left;
    }
}

@media screen and (max-width: 768px) {
    #page-header #post-info {
      bottom: 100px;
      padding: 0 22px;
    }
}
/* 
    文章页面标题end
*/


/*
    即刻短文页面样式start
*/
#waterfall{
    display: flex;
    flex-wrap: wrap;
}
.icat-bber-item {
    margin: 4px 0 10px 24px;
    padding: 10px;
    border-radius: 8px;
    background: #efeded;
    display: inline-block;
    border: var(--gglss-border);
}

.icat-bber-item:hover{
    border: 1px solid var(--gglss-main);
}

/*
    即刻短文页面样式end
*/

a {
    color: #4c4948;
    text-decoration: none;
    word-wrap: break-word;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    overflow-wrap: break-word;
}

/* 定义是否侧边栏的宽度 start */
.aside-content {
    max-width: 312px;
    min-width: 300px;
}
/* 定义是否侧边栏的宽度 end */

/* 
    右下角的边栏按钮颜色样式start
*/
#rightside>div>a,
#rightside>div>button {
  display:block;
  margin-bottom:5px;
  width:35px;
  height:35px;
  border-radius:5px;
  background-color: var(--gglss-main);
  color:#fff;
  text-align:center;
  font-size:16px;
  line-height:35px
}
/* 
    右下角的侧栏按钮颜色样式end
*/

/* 
    首页分类条start
*/
#recent-posts > #category-bar {
    padding: 0.4rem 1rem 0.4rem 0.7rem;
    background: var(--gglss-card-bg);
    border-radius: 8px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 1rem;
    border: var(--gglss-border);
    transition: .3s;
    width: 100%;
    /* justify-content: space-between; */
    -webkit-user-select: none;
    display: flex;
    align-items: center;
}

#recent-posts > #category-bar > #category-bar-items {
    white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: box;
      display: flex;
      border-radius: 8px;
      -webkit-box-align: center;
      -moz-box-align: center;
      -o-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      height: 30px;
      padding-left: 1rem;
      white-space: nowrap;
      overflow-x: scroll;
      display: flex;
      margin-top: 5px;
  }

.category-bar-item a {
      padding: 0.1rem 0.5rem;
      margin-right: 6px;
      font-weight: 700;
      border-radius: 8px;
      display: flex;
      align-items: center;
      height: 30px;
      padding: 5px 10px 1px 10px;
}

@media screen and (max-width: 900px) {
  .category-bar-item a {
    padding: 0.1rem 0.5rem;
    margin-right: 6px;
    font-weight: 700;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 1px 13px 5px 10px;
  }
}

.category-bar-item:hover a {
      background: var(--gglss-theme);
      color: var(--gglss-card-bg);
}

#category-bar > .category-in-bar-tips {
    padding-left: 8px;
}

/* 
    首页分类条END
*/

/* 首页分类条和底下双栏的距离start */
#recent-posts > .recent-post-item:not(:first-child) {
    margin-top: 0px;
    margin-bottom: 15px;
}
/* 首页分类条和底下双栏的距离end */


/* 主页文章列表图片宽度 start */
#recent-posts > .recent-post-item {
    /* height: 19em; */
    height: fit-content;
    border: var(--gglss-border);
    /* border: 1px solid #c9c9c9; */
}
#recent-posts > .recent-post-item >.recent-post-info {
    padding: 0 56px;
    width: 64%;
}
@media screen and (max-width: 768px) {
    #recent-posts > .recent-post-item {
        height: auto;
    }
    #recent-posts > .recent-post-item >.recent-post-info {
        padding: 20px 20px 30px;
        width: 100%;
        text-align: center;
    }
}
/* 主页文章列表图片宽度 end */

/* 主页文章卡片的图片样式 start */
#recent-posts > .recent-post-item .post_cover {
    overflow: hidden;
    width: 52%;
    height: 100%;
}
/* 主页文章卡片的图片样式 end */

/* 
    手机端主页文章卡片的图片样式 start 
*/
@media screen and (max-width: 768px) {
    #recent-posts > .recent-post-item .post_cover {
      width: 100%;
      height: 230px;
    }
}
/* 
    手机端主页文章卡片的图片样式end
*/

/* 主页文章卡片的悬浮样式start */
#recent-posts > .latest:hover {
    border: 1px solid var(--gglss-main);
}

#recent-posts .latest:hover .recent-post-info .article-title {
  color: var(--gglss-main);
}

#recent-posts > .recent-post-item:not(.latest):hover {
  border: 1px solid var(--gglss-main);
}

/* 主页文章卡片的悬浮样式end */


/* 页脚样式start */
[data-theme=light] #footer {
  background:linear-gradient(180deg,#fff0 0,#fff 25%)!important;
  opacity:.7;
  border-radius:8px;
  width:100%;
  margin:auto;
  opacity:.6;
  margin-top:1rem;
  display:flex;
  flex-direction:column
}
[data-theme=dark] #footer {
  background:#0d0d0d00;
  border-radius:8px;
  width:97%;
  margin:auto;
  opacity:.6;
  margin-top:1rem;
  display:flex;
  flex-direction:column
}
#Jay-footer {
  display:flex;
  flex-direction:row;
  width:100%;
  max-width:1400px;
  margin:1rem auto;
  justify-content:space-between;
  flex-wrap:wrap;
  margin-bottom:3rem;
  padding:0 1rem
}
#Jay-footer .footer-links {
  display:flex;
  flex-direction:column;
  color:#425aef
}
.footer-banner-right {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap
}
div#footer_deal {
  justify-content:center;
  display:flex;
  padding-top:2rem;
  align-items:center;
  flex-wrap:wrap
}
.footer_left {
  display:flex
}
.footer_right {
  display:flex
}
.footer-item {
  color:#000
}
#footer::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  content: '';
}

/* 页脚的左右图标样式 start */
[data-theme=light] a.deal_link {
  display:flex;
  margin:1rem 27px;
  color:#fff;
  border-radius:3rem;
  width:32px;
  height:32px;
  background:#151515;
  justify-content:center;
  align-items:center;
  transition:all .3s ease 0s
}
[data-theme=dark] a.deal_link {
  display:flex;
  margin:1rem 27px;
  color:#000;
  border-radius:3rem;
  width:32px;
  height:32px;
  background:#fff;
  justify-content:center;
  align-items:center;
  transition:all .3s ease 0s
}
a.deal_link:hover {
  color:#fff;
  background:var(--gglss-main);
  transform:scale(1.1)
}
/* 页脚的左右图标样式 end */

/* 页脚的直达链接样式 start */
[data-theme=light] .footer-links>a {
  color:#000
}
[data-theme=dark] .footer-links>a {
  color:#fff
}
.footer-links>a:hover {
  color:#f05011
}
/* 页脚的直达链接样式 start */

/* 页脚的图标中间的小熊样式 start*/
img.footer_mini_logo {
  width:50px;
  height:50px;
  margin:0 1rem;
  cursor:pointer;
  transition:all .5s cubic-bezier(0,0,0,1.29) 0s
}
img.footer_mini_logo:hover {
  backface-visibility:hidden;
  transform-style:preserve-3d;
  transform:scale(1.2)
}
@media screen and (max-width:768px) {
  img.footer_mini_logo {
    display:none
  }
}
/* 页脚的图标中间的小熊样式 end*/

/* 页脚样式end */

/* 
    页面切换按钮 start
*/
#pagination {
  width:100%;
  margin:auto
}
#pagination .page-number.current {
  background:var(--gglss-main);
  color:var(--gglss-white);
}
/* 
    页面切换按钮 end
*/

/* 
    侧边栏样式start
*/
/* 侧边栏个人卡片底下按钮颜色 */
#aside-content .card-info #card-info-btn {
  display: block;
  margin-top: 14px;
  background-color: var(--gglss-main);
  color: var(--gglss-white);
  text-align: center;
  line-height: 2.4;
}
#aside-content .card-info #card-info-btn:hover {
  background-color: var(--gglss-main);
}
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:last-child,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a span:last-child {
  width:fit-content;
  margin-left:4px
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
  color: var(--gglss-white);
  background-color:var(--gglss-main);
  box-shadow:0 8px 12px -3px #4259ef23;
  border-radius:8px;
  padding-left:.5rem;
  padding-right:.5rem
}
@media screen and (min-width:1300px) {
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
    transform:scale(1.03)
  }
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:active,
  #aside-content .card-categories ul.card-category-list>.card-category-list-item a:active {
    transform:scale(.97)
  }
}
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a {
  border-radius:8px;
  margin:4px 0;
  display:flex;
  flex-direction:column;
  align-content:space-between;
  border: var(--gglss-border)
}
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:first-child,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a span:first-child {
  width:auto;
  flex:inherit
}
#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
}
[data-theme=light] #aside-content .card-tag-cloud a {
  color:#363636!important;
  font-size:.8rem;
  border-radius:8px
}
[data-theme=dark] #aside-content .card-tag-cloud a {
  color:#e7e7e7!important;
  font-size:.8rem;
  border-radius:8px
}
#aside-content .card-tag-cloud a:hover {
  background:var(--gglss-main);
  color: var(--gglss-white)!important;
  box-shadow:0 8px 12px -3px rgba(66,89,239,.137);
  display:inline-block
}
#aside-content .card-widget {
  position:relative;
  overflow:hidden;
  margin-top:20px;
  padding:20px 24px;
  border:var(--gglss-border);
  box-shadow:none;
  border-radius:8px
}
#aside-content .card-widget:hover {
  border: var(--gglss-border);
  box-shadow:none;
  /* border-radius:18px   */  /*方框圆角变化*/
}
/* 
    侧边栏样式end
*/

/* 侧边栏start */
[data-theme=light] #aside-content .card-tag-cloud a {
  color:#363636!important;
  font-size:.8rem;
  border-radius:8px
}
[data-theme=dark] #aside-content .card-tag-cloud a {
  color:#e7e7e7!important;
  font-size:.8rem;
  border-radius:8px
}

#aside-content .card-tag-cloud a:hover {
  background: var(--gglss-theme);
  color:var(--gglss-white)!important;
  box-shadow:0 8px 12px -3px rgba(66,89,239,.137);
  display:inline-block
}
#aside-content .card-widget {
  position:relative;
  overflow:hidden;
  margin-top:20px;
  padding:20px 24px;
  border:var(--gglss-border);
  box-shadow:none;
  border-radius:8px
}
#aside-content .card-widget:hover {
  border:1px solid var(--gglss-theme);
  box-shadow:none
}


/* ?侧边栏归档栏 START */
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a {
  border-radius:8px;
  margin:4px 0;
  display:flex;
  flex-direction:column;
  align-content:space-between;
  border: var(--gglss-border);
}
#aside-content .card-archives ul.card-archive-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover {
color:#fff;
background-color: var(--gglss-main);
box-shadow:0 8px 12px -3px #4259ef23;
border-radius:8px;
padding-left:.5rem;
padding-right:.5rem
}
li.card-archive-list-item {
  flex: 0 0 48%;
}
/* ?侧边栏归档栏 END */


/* 
    作者卡片背景start
*/
[data-theme="light"] #aside-content > .card-widget.card-info {
  background-image: url(https://s11.ax1x.com/2023/05/02/p9GWEin.jpg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background-image: url(https://s11.ax1x.com/2023/05/02/p9GWVGq.jpg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100%;
}
/* 
  作者卡片背景end
*/


/* 
  作者卡片描述start
*/

.author-info__description b {
  color: var(--gglss-white);
}

.card-info-avatar.is-center {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

#aside-content>div.card-widget.card-info>div>div.card-info-avatar.is-center>div.author-info__description {
  line-height: 1.38;
  margin: .3rem 0;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
}

#aside-content>div.card-widget.card-info>div>div.card-info-avatar.is-center>div.author-info__description b {
  color: var(--gglss-white);
}

.card-widget.card-info .banner-button-group {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
}

.card-widget.card-info .banner-button-group .banner-button {
  padding: 8px 12px;
  background: var(--gglss-white-op);
  border-radius: 12px;
  color: var(--gglss-white);
  display: flex;
  align-items: center;
  z-index: 1;
  transition: 0.3s;
  cursor: pointer;
}

.card-widget.card-info .banner-button-group .banner-button:hover {
  background: var(--gglss-white);
  color: var(--gglss-black);
}

.card-widget.card-info .banner-button-group .banner-button i {
  margin-right: 8px;
  font-size: 1rem;
}
/* 
  头像背景 end
*/

/* 隐藏文章数等信息 */

#aside-content .card-info .card-info-data {
  display: none;
}

/* 
  作者卡片头像start
*/
#aside-content .card-info a img {
  border-radius: 0px;
  height: 200px;
  display: inherit;
  filter: drop-shadow(-5px 14px 8px #00000008);
  position: absolute;
  right: -24px;
  bottom: -82px;
  width: auto;
  z-index: 0;
  transition: cubic-bezier(0.48, -0.21, 0, 1.5) 0.3s;
}

#aside-content .card-info a img:hover {
  bottom: -42px;
}

[data-theme=light] #aside-content .card-info a img {
  filter: drop-shadow(-5px 14px 8px #ffffff08);
}

.card-widget.card-info {
  padding: 0 !important;
}

#aside-content>div.card-widget.card-info>div.card-content {
  padding: 1rem 1.2rem;
  min-height: 320px;
  position: relative;
}

#aside-content>div.card-widget.card-info>div.card-info-avatarimg {
  overflow: hidden;
  background: var(--gglss-yellow);
  transition: 1.5s;
  min-height: 160px;
  position: relative;
  box-shadow: var(--gglss-shadow-yellow);
}

#aside-content>div.card-widget.card-info>div.card-info-avatarimg:hover img {
  transform: scale(1.03);
}
/* 
  作者卡片头像end
*/


/* 
  pad端隐藏部分侧边栏start
*/
@media screen and (max-width: 900px) {
  /* #aside-content .card-announcement {
      display: none;
  }
  #aside-content #card-funds {
      display: none;
  } */
  #aside-content{
      display: none;
  }
}
/* 
  pad端隐藏部分侧边栏end
*/

/* 
  分割线（横线） start
*/
hr {
  position:relative;
  margin:2rem auto;
  border:2px dashed var(--gglss-main);
}
/* 
  分割线（横线） end
*/


/* 
  文章页版权样式start
*/
#post .post-copyright {
  background: var(--gglss-card-bg);
  padding: 1rem 1.3rem;
  overflow: hidden;
  border: var(--gglss-border);
  border-width: 1px;
  transition: 0.3s;
  position: relative;
  margin: 1.5rem 0px 0.5rem;
  border-radius: 8px;
}
#post .post-copyright:before {
  position: absolute;
  right: 22px;
  top: -77px;
  content: "\e039";
  font-size: 180px;
  font-family: "iconfont";
  color: var(--gglss-fontcolor);
  opacity: 0.1;
  filter: blur(7px);
}

#post .post-copyright {
  position: relative;
  /* line-height: 1.2; */
  font-size: 1rem;
  background: var(--gglss-secondbg);
  color: var(--gglss-fontcolor);
  overflow: hidden;
  border: var(--gglss-border);
  display: block;
  padding: 1rem 1.3rem;
  margin: 1.5rem 0 .5rem;
  border-radius: 12px;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -o-transition: .6s;
  -ms-transition: .6s;
  transition: .6s
}

#post .post-copyright:hover {
  border-color: var(--gglss-theme)
}

#post .post-copyright:after {
  position: absolute;
  content: "\e039";
  font-size: 210px;
  font-family: iconfont;
  color: var(--gglss-fontcolor);
  opacity: .1;
  filter: blur(6px);
  height: 210px;
  width: 210px;
  right: -40px;
  top: -80px
}

@media screen and (max-width: 768px) {
  #post .post-copyright:after {
      top:auto;
      bottom: -40px
  }
}
/* 
  版权样式 end
*/


/* 
    文章目录start
*/

#aside-content #card-toc .toc-content .toc-link.active {
  line-height: 1.2;
  border-radius: 12px;
  border-left-color: var(--gglss-hovertext);
  background-color: var(--gglss-card-bg);
  color: var(--gglss-main);
  font-weight: bold;
  font-size: 20px;
}

[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
  color: var(--gglss-white);
}

#aside-content #card-toc .toc-content .toc-item.active .toc-link {
  opacity: 1;
  border-radius: 8px;
}

#aside-content #card-toc .toc-content .toc-link {
  line-height: 24px;
  padding: 8px;
  border-left: 0px solid transparent;
  border-radius: 12px;
  color: var(--gglss-secondtext);
  cursor: default;
  min-height: 40px;
  display: flex;
  align-items: center;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span {
  opacity: 0.6;
  cursor: pointer;
  filter: blur(1px);
  transition: 0.3s;
}

#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
  filter: blur(0px);
  opacity: 1;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
  color: var(--gglss-main);
}


/* 目录卡片边距 */

#card-toc {
  padding: 0.5rem 0.5rem !important;
}

/* 
  文章目录END
*/

/* 
      文章栏边框 start
*/
#post {
  border: var(--gglss-border);
  box-shadow: none;
}
#post:hover {
  border: 1px solid var(--gglss-main);
}
/* 
      文章栏边框 end
*/


/* 
    小风车start
*/
/* 文章页小风车转起来,限制尺寸，手机端不显示 */
@media screen and (min-width: 768px) {
  /* 文章页H1-H6图标样式效果 */
  h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before,
  h6::before {
  -webkit-animation: ccc 1.6s linear infinite;
  animation: ccc 1.6s linear infinite;
  }
  @-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
  }
  @keyframes ccc {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-1turn);
      transform: rotate(-1turn);
    }
  }
  /* 小风车大小颜色修改 */

  #content-inner.layout h1::before {
    color: #ef50a8;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
  }
  #content-inner.layout h2::before {
    color: #fb7061;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
  }
  #content-inner.layout h3::before {
    color: #ffbf00;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
  }
  #content-inner.layout h4::before {
    color: #a9e000;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
  }
  #content-inner.layout h5::before {
    color: #57c850;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0rem;
  }
  #content-inner.layout h6::before {
    color: #5ec1e0;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0rem;
  }

  /* 鼠标碰到小风车样式 */
  #content-inner.layout h1:hover,
  #content-inner.layout h2:hover,
  #content-inner.layout h3:hover,
  #content-inner.layout h4:hover,
  #content-inner.layout h5:hover,
  #content-inner.layout h6:hover {
    color: #f05012;
  }
  #content-inner.layout h1:hover::before,
  #content-inner.layout h2:hover::before,
  #content-inner.layout h3:hover::before,
  #content-inner.layout h4:hover::before,
  #content-inner.layout h5:hover::before,
  #content-inner.layout h6:hover::before {
    color: #f05012;
    -webkit-animation: ccc 3.2s linear infinite;
    animation: ccc 3.2s linear infinite;
    }
  /* 页面设置icon转动速度调整 */
  #rightside_config i.fas.fa-cog.fa-spin {
    animation: fa-spin 5s linear infinite;
  }
}

/* 
    小风车样式end
*/


/* 
    文章页的H1大小文字居中css start
*/
/* #article-container.post-content h1,
#article-container.post-content h1:hover::before{
  text-align:center
} */
/* 
    文章页的H1大小文字居中css end
*/

/*
    即刻短文页面样式start
*/
#waterfall{
  display: flex;
  flex-wrap: wrap;
}
.icat-bber-item {
  margin: 4px 0 10px 24px;
  padding: 10px;
  border-radius: 8px;
  background: #efeded;
  display: inline-block;
  border: var(--gglss-border);
}

.icat-bber-item:hover{
  border: 1px solid var(--gglss-main);
}

/*
  即刻短文页面样式end
*/

a {
  color: #4c4948;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  overflow-wrap: break-word;
}

/* 分类页start */
.category-lists .category-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 5em 0 3em;
}
.category-lists ul {
  padding: 0;
}
.category-lists ul li {
  display: flex;
  width: fit-content;
  font-size: 1.2em !important;
  padding: 0.2em 0.5em;
  background: var(--gglss-card-bg);
  margin: 0.5em 0.5em;
  border-radius: 12px;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  border: var(--gglss-border-always);
  box-shadow: var(--gglss-shadow-border);
  align-items: center;
}
.category-lists .category-list a {
  color: var(--gglss-fontcolor) !important;
}
.category-lists .category-list a:hover {
  color: var(--gglss-white) !important;
}
.category-lists ul li:before {
  position: unset;
  width: auto;
  height: auto;
  border: 0;
  border-radius: 0;
  background: 0;
  color: var(--gglss-fontcolor) !important;
  cursor: pointer;
  content: "\e71d" !important;
  font-family: "iconfont" !important;
  opacity: 0.4;
  padding-top: 2px;
  padding-right: 2px;
}
.category-lists .category-list .category-list-count {
  background: var(--gglss-secondbg);
  padding: 4px 4px;
  border-radius: 6px;
  color: var(--gglss-secondtext);
  line-height: 1;
  text-align: center;
  min-width: 35px;
  display: inline-block;
  font-size: 1rem;
  box-shadow: var(--gglss-shadow-border);
}
.category-lists .category-list .category-list-count:before,
.category-lists .category-list .category-list-count:after {
  content: '';
}
/* 分类页样式 */
.category-lists ul li:hover {
  background: var(--gglss-theme);
  -webkit-box-shadow: var(--gglss-shadow-blue);
  box-shadow: var(--gglss-shadow-blue);
}
.category-lists ul li:hover:before {
  opacity:.8;
  color:var(--gglss-white)
}

/* 分类页end */

/* 标签页start */
#page > .is-center {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

[data-theme=dark] #page .tag-cloud-list a {
  display:flex;
  width:fit-content;
  color:#c7c7c7!important;
  font-size:1.6em!important;
  padding:.2em .5em;
  background:#121212;
  margin:.5em .5em;
  border-radius:12px;
  -webkit-backface-visibility:hidden;
  -webkit-transform-style:preserve-3d;
  border:1px solid #e3e8f7;
  box-shadow:0 8px 16px -4px #2c2d300c;
  align-items:center
}
[data-theme=light] #page .tag-cloud-list a {
  display:flex;
  width:fit-content;
  color:#000!important;
  font-size:1.6em!important;
  padding:.2em .5em;
  background:var(--gglss-white);
  margin:.5em .5em;
  border-radius:12px;
  -webkit-backface-visibility:hidden;
  -webkit-transform-style:preserve-3d;
  border:1px solid #e3e8f7;
  box-shadow:0 8px 16px -4px #2c2d300c;
  align-items:center
}
#page .tag-cloud-list a:hover {
  background: var(--gglss-theme)!important;
  box-shadow:0 8px 12px -3px rgba(40,109,234,.2);
  color: var(--gglss-white)!important;
  border:1px solid var(--gglss-theme)
}

#page .category-list-item a:hover {
  background: var(--gglss-theme)!important;
  box-shadow:0 8px 12px -3px rgba(40,109,234,.2);
  color: var(--gglss-white)!important;
  border:1px solid var(--gglss-theme)
}
/* 标签页样式 */
/* 标签页end */

/* 
    分类标签页面滚动条start
*/

.category-in-bar #category-bar {
  padding:.4rem 0 .4rem .4rem;
  white-space:nowrap;
  overflow:hidden;
  margin-bottom:1rem;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -o-transition:.3s;
  -ms-transition:.3s;
  transition:.3s;
  width:100%;
  max-width:966px;
  -webkit-box-pack:justify;
  -moz-box-pack:justify;
  -o-box-pack:justify;
  -ms-flex-pack:justify;
  -webkit-justify-content:space-between;
  justify-content:space-between;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:box;
  display:flex;
  -webkit-box-align:center;
  -moz-box-align:center;
  -o-box-align:center;
  -ms-flex-align:center;
  -webkit-align-items:center;
  align-items:center;
  font-size:16px;
  margin-bottom:0
}
@media screen and (max-width:768px) {
  .category-in-bar #category-bar {
    border-radius:0;
    margin-bottom:0;
    position:-webkit-sticky;
    position:sticky;
    top:60px;
    z-index:1;
    padding:0 1rem 0 1rem;
    height:50px;
    margin-top:0;
    -webkit-box-align:center;
    -moz-box-align:center;
    -o-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
    border: none;
  }
}
/* .category-in-bar #category-bar .category-bar-items {
  white-space:nowrap;
  overflow-x:scroll;
  overflow-y:hidden;
  display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:box;
  display:flex;
  border-radius:8px;
  -webkit-box-align:center;
  -moz-box-align:center;
  -o-box-align:center;
  -ms-flex-align:center;
  -webkit-align-items:center;
  align-items:center;
  height:30px
} */
#category-bar-items {
  white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    border-radius: 8px;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 30px;
    padding-left: 1rem;
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    margin-top: 5px;
}
.category-in-bar #category-bar .category-bar-items::-webkit-scrollbar {
  display:none
}
.category-in-bar #category-bar .category-bar-items .category-bar-item:hover a {
  background:var(--icat-blue);
  color:var(--icat-white);
  -webkit-box-shadow:var(--icat-shadow-blue);
  box-shadow:var(--icat-shadow-blue);
  opacity:1;
  -ms-filter:none;
  filter:none
}
.category-in-bar #category-bar .category-bar-items .category-bar-item.select {
  -webkit-box-ordinal-group:-1;
  -moz-box-ordinal-group:-1;
  -o-box-ordinal-group:-1;
  -ms-flex-order:-1;
  -webkit-order:-1;
  order:-1
}
.category-in-bar #category-bar .category-bar-items .category-bar-item.select a {
  background:var(--icat-blue);
  color:var(--icat-white);
  border-radius:8px;
  opacity:1;
  -ms-filter:none;
  filter:none
}
@media screen and (max-width:768px) {
  .category-in-bar #category-bar .category-bar-items .category-bar-item.select a {
    border-radius:8px
  }
}
.category-in-bar #category-bar .category-bar-items .category-bar-item a {
  padding:.1rem .5rem;
  margin-right:10px;
  font-weight:700;
  border-radius:8px;
  display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:box;
  display:flex;
  -webkit-box-align:center;
  -moz-box-align:center;
  -o-box-align:center;
  -ms-flex-align:center;
  -webkit-align-items:center;
  align-items:center;
  height:30px;
  color:var(--icat-fontcolor);
  opacity:.8;
  -webkit-transition:.6s;
  -moz-transition:.6s;
  -o-transition:.6s;
  -ms-transition:.6s;
  transition:.6s
}
@media screen and (max-width:768px) {
  .category-in-bar #category-bar .category-bar-items .category-bar-item a {
    border-radius:8px
  }
}
.category-in-bar #category-bar .category_box {
  display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:box;
  display:flex;
  -webkit-box-align:center;
  -moz-box-align:center;
  -o-box-align:center;
  -ms-flex-align:center;
  -webkit-align-items:center;
  align-items:center
}
.category-in-bar #category-bar .category_box #category-bar-button {
  margin-left:16px;
  cursor:pointer;
  font-weight:900;
  display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:box;
  display:flex;
  -webkit-transition:.6s;
  -moz-transition:.6s;
  -o-transition:.6s;
  -ms-transition:.6s;
  transition:.6s
}
.category-in-bar #category-bar .category_box #category-bar-button:hover {
  color:var(--icat-blue)
}
.category-in-bar #category-bar .category_box .category-bar-more {
  margin-left:12px;
  font-weight:900;
  color:var(--icat-fontcolor);
  opacity:.8;
  -webkit-transition:.6s;
  -moz-transition:.6s;
  -o-transition:.6s;
  -ms-transition:.6s;
  transition:.6s
}
.category-in-bar #category-bar .category_box .category-bar-more:hover {
  color:var(--icat-blue);
  opacity:1;
  -ms-filter:none;
  filter:none
}

/* 
  分类标签页面滚动条end
*/


/*
    分类页标签页双栏布局start
*/
.article-sort {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-left:none;
}
.article-sort-item {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 0 20px 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#category > .article-sort > .article-sort-item::before{
  display: none;
}

#category > .article-sort > .article-sort-item::after{
  display: none;
}

#category > .article-sort > .year{
  display: none;
}

#category > .article-sort-title::before{
  display: none;
}
#category > .article-sort-title::after{
  display: none;
}

#tag > .article-sort > .article-sort-item::before{
  display: none;
}

#tag > .article-sort > .article-sort-item::after{
  display: none;
}

#tag > .article-sort > .year{
  width: 100%!important;
  border-bottom: dashed 5px var(--gglss-theme);
  font-size: 26px;
  margin-top: 20px;
}

#tag > .article-sort-title::before{
  display: none;
}
#tag > .article-sort-title::after{
  display: none;
}
@media screen and (max-width: 768px) {
  .article-sort-title,
  .article-sort{
      font-size: 1em;
      padding-left: 5px;
  }  
}


/* 悬浮样式 */
.article-sort-item:not(.year) {
  border: var(--gglss-border);
  border-radius: 8px;
  padding: 8px 10px;
  width: calc(50% - 0.8rem);
  margin: 0.4rem;
  background: var(--card-bg);
  transition: 0.5s;
  height: 120px;
}

.article-sort-item:not(.year):hover {
  background: var(--gglss-main);
}


.article-sort-item:hover .article-sort-item-info a{
  color: #fff;
}


.article-sort-item-img{
  transition:0.5s;
  height:90px;
  width:140px;
}

.article-sort-item > a >img{
  border-radius:15px;
}

.article-sort-item-title {
  padding-left: 10px;
  margin: 10px 0;
  text-overflow:ellipsis;
}

.article-sort-title {
  position: relative;
  margin-left: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 1.72em;
}

.article-sort-item-title:hover{
  transform:none;
}

/*手机端的页面布局start*/
@media screen and (max-width: 768px) {
  .article-sort-item:not(.year) {
    width: 100% !important;
    margin: none;
  }
}

@media screen and (max-width: 450px) {
  #tag .article-sort-item-img, #category .article-sort-item-img, 
  #archive .article-sort-item-img {
      display: none !important;   
  }
}
/*手机端的页面布局end*/

/*
  分类页标签页双栏布局end
*/






#universe {
  display:block;
  position:fixed;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  left:0;
  top:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:1
}
#recent-posts>.recent-post-item {
  position:relative;
  border-radius: 8px;
}
.newPost-left,
.newPost-right {
  position:absolute;
  top:0;
  color:#fff;
  padding:0 15px;
  background-color: var(--gglss-main);
  border-radius:0 0 10px 10px
}
.newPost-left {
  left:15px
}
.newPost-right {
  right:15px
}



/* 
    公告栏的样式start
*/
:root {
  --ichika-color: var(--gglss-main);
}

/* 公告&欢迎页 */
.card-announcement {
  line-height:30px;
  font-size:16px;
}

.card-announcement .item-headline span{
  margin-left:0!important;
}

.card-announcement span{
  font-weight:bold;
  font-size:20px!important;
  color:var(--ichika-color);
}

/* 
    公告栏的样式end
*/

/*
    文章页的引用start
*/
blockquote {
  border-left: 2px solid var(--gglss-main);
  background-color: var(--gglss-secondbg);
  color: var(--gglss-secondtext);
  border-radius: 8px;
  margin: 1rem 0;
  padding: .9rem 1.2rem;
}

/*
  文章页样式start
*/
#page-header.post-bg {
  height: 460px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#page-header #post-info {
  position: absolute;
  bottom: 160px;
  padding: 0 8%;
  width: 100%;
  text-align: center;
}

#post-info .post-title {
  margin-bottom: 8px;
  color: var(--gglss-white);
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  font-weight: 600;
}
/*
  文章页样式end
*/

/*
  文章页的引用end
*/

/*
  文章页的标重start
*/
#article-container a {
  border-bottom: 2px solid var(--gglss-main);
  font-weight: 600;
}
#article-container a:hover {
  background: var(--gglss-main);
  color: var(--gglss-white);
  border-radius: 4px
}
#article-container a:hover code {
  color: var(--gglss-white)
}


#article-container a {
  color: #363636;
}

#article-container .link_card {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 10px 0;
  color: var(--font-color);
  background: var(--gglss-secondbg);
  border-radius: 8px;
  border: var(--style-border);
  padding: 12px;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -o-transition: .6s;
  -ms-transition: .6s;
  transition: .6s;
  -webkit-box-shadow: var(--gglss-shadow-border);
  box-shadow: var(--gglss-shadow-border);
}
#article-container .link_card:hover {
  background: var(--gglss-blue);
  color: var(--gglss-white);
  border-radius: 8px;
  -webkit-box-shadow: var(--gglss-shadow-blue);
  box-shadow: var(--gglss-shadow-blue)
}
/*
  文章页的标重end
*/


/*
  文章页的table方框start
*/
#article-container .tabs {
  position: relative;
  margin: 1rem 0;
  border: 3px solid var(--gglss-secondbg);
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: var(--gglss-shadow-border);
  box-shadow: var(--gglss-shadow-border);
  padding: 10px;
  background: var(--gglss-card-bg);
}

#article-container .tabs>.nav-tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px;
  padding: 12px 16px;
  background: var(--gglss-background);
  border: 2px solid var(--gglss-secondbg);
  border-radius: 6px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}

#article-container .tabs>.nav-tabs>.tab {
  margin: 0;
  padding: 3px;
  list-style: none;
}

#article-container .tabs>.nav-tabs>.tab.active button {
  background: var(--gglss-main);
  cursor: default;
  color: var(--gglss-white);
  -webkit-box-shadow: 0 4px 12px -4px rgba(129,216,207,.314);
  box-shadow: 0 4px 12px -4px rgba(129,216,207,.314);
  border-top: none;
}

#article-container .tabs>.nav-tabs>.tab button {
  display: block;
  padding: 8px 18px;
  width: 100%;
  border: 1px solid var(--gglss-secondbg);
  background: var(--gglss-background);
  color: var(--tab-botton-color);
  line-height: 2;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -o-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  border-radius: 6px;
  font-weight: 600;
  -webkit-box-shadow: var(--gglss-shadow-border);
  box-shadow: var(--gglss-shadow-border);
}

#article-container p {
  margin: 0 0 16px;
}

#article-container.post-content li::marker {
  color: var(--gglss-main);
  font-weight: 600;
  font-size: 1.05em;
}

/*
  文章页的table方框end
*/

/*
  归档页start
*/
.article-sort-item:before{
  display:none;
}

#archive > .article-sort >.year{
  width: 100%;
}

#archive > .article-sort-title{
  display:none;
}
/*
  归档页end
*/

